.header__logo {
    margin: 45px 0 42px 0;
}

@media screen and (max-width: 881px) {
    .header__logo {
        max-width: 104px;
        max-height: 24px;
        margin: 28px 0 31.6px 27px;
    }
}

