.profile__add-button {
    min-width: 150px;
    min-height: 50px;
    background: none;
    background-image: url('../../../images/profile/add_button.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
   
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button:focus {
    outline: none;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        min-width: 90px;
        min-height: 30px;
    }
}

@media screen and (max-width: 550px) {
    .profile__add-button {
        background-image: url('../../../images/profile/addButton.svg');
        min-width: 282px;
        min-height: 50px;
    }
}


    
    